/* Scrolling behaviour */
html, body {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: #353a4b #232733;
	/* scrollbar-gutter: none; */
}
.nav-scroll-magic {
	transition: top 0.3s;
}
.nav-after-scroll {
	background-color: rgba(34,39,51,0.3);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
  /* -webkit-filter: blur(8px); */
}

/* Scrollbar */
body::-webkit-scrollbar {
	width: 0.5rem;
}
body::-webkit-scrollbar-track {
	background: #232733;
}
body::-webkit-scrollbar-thumb {
	background: #353a4b;
}
body::-webkit-scrollbar-thumb:hover {
	background: #454a5b;
}

/* Custom Select */
::-moz-selection {
	background: #00cc94;
	color: #fff;
}
::selection {
	background: #00cc94;
	color: #fff;
}

/* Typography */
h1 {
	font-size: 6vh;
	font-weight: 900;
	/* margin-bottom: .5rem; */
}
h2 {
	font-size: 5vh;
	/* margin-bottom: .5rem; */
}
h3 {
	font-size: 4vh;
	/* margin-bottom: .5rem; */
}

/* Animations */
.anim-from-above {
	animation: from-above 1s ease-in-out;
}
@keyframes from-above {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.anim-introduce {
	animation: fadeIn 1s;
	animation-fill-mode: forwards;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Components */
.scrolly {
	position:absolute;
	bottom: 10%;
	left: 50%;
	color: #4f5666;
}

/* Pages */
.title {
	/* margin-top: 80px; */
	text-align: center;
	/* width: 50%; */
	min-height: 100vh;
	display: flex;
	-moz-box-pack: center;
	justify-content: center;
	-moz-box-align: center;
	flex-direction: column;
	/* align-items: flex-start; */
	padding: 0px;
}

.page {
	text-align: center;
	/* width: 50%; */
	/* min-height: 100vh; */
	display: flex;
	-moz-box-pack: center;
	justify-content: center;
	-moz-box-align: center;
	flex-direction: column;
	/* align-items: flex-start; */
	padding: 0px;
}
.page-reverse {
	text-align: center;
	/* width: 50%; */
	/* min-height: 100vh; */
	display: flex;
	-moz-box-pack: center;
	justify-content: center;
	-moz-box-align: center;
	flex-direction: column;
	/* align-items: flex-start; */
	padding: 0px;
}

/* Responsive LG */
@media screen and (min-width: 1024px) {
	.title {
		/* margin-top: 80px; */
		margin-left: 25vw; 
		min-height: 100vh;
		display: flex;
		-moz-box-pack: center;
		justify-content: center;
		-moz-box-align: center;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
	}
	.page {
		/* margin-top: 80px; */
		margin-left: 25vw; 
		/* min-height: 100vh; */
		display: flex;
		-moz-box-pack: center;
		justify-content: center;
		-moz-box-align: center;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
	}
	.page-reverse {
		/* margin-top: 80px; */
		margin-right: 25vw; 
		min-height: 100vh;
		display: flex;
		-moz-box-pack: center;
		justify-content: center;
		-moz-box-align: center;
		flex-direction: column;
		align-items: flex-end;
		padding: 0px;
	}
	h1 {
		font-size: 10vh;
		font-weight: 900;
		/* margin-bottom: .5rem; */
	}
	h2 {
		font-size: 8vh;
		/* margin-bottom: .5rem; */
	}
	h3 {
		font-size: 6vh;
		/* margin-bottom: .5rem; */
	}
}